
.container-fluid {
    height: 100vh;
}


.row {
    min-height: 100vh;
}
.col-right .row{
    min-height: 160px;
}
.col-left{
    background-color:#e5e5e5;
    align-items: center;
    padding: 40px;
}

.col-right{
    background-color: white;
    align-items: center;
    color: #7D7D7D;
}

.col-left h1{
    color: #612fb3;
    flex-direction: column;
    font-size: 48px;
    text-align: center;

}

.col-right h2{
    color: #612fb3;
    flex-direction: column;
    font-size: 40px;
    text-align: center;

}

#amount{
    padding-right: 20px;
    text-align: right;
    color: #666;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.col-right hr{
marging-bottom: 20px;
}

.col-left p{
    padding-top: 20px;
    flex-direction: column;
   font-size: 24px;
   text-align: center;
   max-width: 600px;
   color: #7D7D7D;
}

.col-right p{
   font-size: 24px;
   color: #7D7D7D;
}

.col-left img{
    padding-top: 40px;
    display:block;
    margin:auto;
 }
 .col-right .panel{
 border: 2px solid #CACACA;
 width: 100%;
 min-height: 400px;
 border-radius: 30px;
 margin: 100px;
 padding: 40px;
}

 #currency-info{
     display: none;
     margin-top: 20px;
 }

.col-right .panel-body{
    margin-left: 40px;
   }

   .form-select, .form-control {
       font-size:  2rem;
       color: #7D7D7D;
   }

.dropdown-item img{
    margin-right: 20px;
}
.dropdown-item span{
    color: #7D7D7D;
}

#result{
    font-size: 36px;
    margin-top: 20px;
}
#fee{
    font-size: 12px;
}

#btn-buy{
    background-color: #612fb3;
    border-radius: 0.8rem;
    color: white;
    padding: 10px 30px;
}
#btn-buy i {
    margin-right: 10px;
}

 @media (max-width: 767.98px) {
    .col-right .panel{
        margin: 20px;
       }
       .col-right .btn-group{
        margin-top: 30px;
    }
 }

 .modal input{
     font-size: 18px;
 }


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
